nav.nav_menu
    ul.nav_menu__list
        +navItem("key", "Dashboard", false)
        +navItem("cube", "Product")
        +navItem("user", "Customers", "nav_menu__list-active")
        +navItem("wallet", "Income")
        +navItem("discount", "Promote")
        +navItem("help", "Help")
