.profile 
    .profile__avatar_wrapper 
        img.profile__img(src="i/avatar.jpg" alt="" width=42 height=42)
    .profile__info
        p.profile__name Evano 
        span.profile__role Project Manager
