aside.sidebar
    button.sidebar__menu_toggle(type="button")
        +icon("menu")
    .sidebar__menu
        .sidebar__menu_container
            .sidebar__logo 
                include _logo
            include _nav_menu
        include _profile