aside.sidebar
    include _menu_toggle
        +icon("close")

    .sidebar__menu
        .sidebar__menu_container
            .sidebar__logo 
                include _logo
            include _nav_menu
        include _profile