html {
    font-family: $poppins-medium, sans-serif;
    font-size: 1rem;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    background: $white;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
.wrapper {
    overflow: hidden;
}
