html {
    font-family: $poppins-medium, sans-serif;
    font-size: 1rem;
}

body {
    position: relative;
    color: $black;
    background: $cloud;
}

.page {
    display: flex;
    flex-direction: column;
}

.page_content {
    padding: 20px;
}

.page_sidebar {
    width: 306px;
    position: relative;
    flex-shrink: 0;
}

.wrapper {
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .page_content {
        padding: 30px 40px;
    }

    .page {
        flex-direction: row-reverse;
        justify-content: start;
    }
}

@media screen and (min-width: 1280px) {
    .page_content {
        padding: 44px 71px;
    }
}
