.header {
    width: 100%;
    margin: 0 0 20px 0;
}

.header > {
    .menu_toggle {
        .icon-menu {
            font-size: 0.6rem;
            color: $black;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        display: none;
    }
}
