.header {
    width: 100%;
    margin: 0 0 20px 0;
}

.menu_toggle .icon-menu {
    font-size: 0.6rem;
    color: $black;
}

@media screen and (min-width: 1270px) {
    .header {
        display: none;
    }
}
