.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-arrow {
    font-size: (32/10) * 1rem;
    width: (19/32) * 1em;
}
.icon-close {
    font-size: (32/10) * 1rem;
    width: (32/32) * 1em;
}
.icon-cube {
    font-size: (32/10) * 1rem;
    width: (32/32) * 1em;
}
.icon-discount {
    font-size: (32/10) * 1rem;
    width: (32/32) * 1em;
}
.icon-help {
    font-size: (32/10) * 1rem;
    width: (32/32) * 1em;
}
.icon-key {
    font-size: (32/10) * 1rem;
    width: (32/32) * 1em;
}
.icon-logo {
    font-size: (32/10) * 1rem;
    width: (30/32) * 1em;
}
.icon-menu {
    font-size: (32/10) * 1rem;
    width: (104/32) * 1em;
}
.icon-search {
    font-size: (32/10) * 1rem;
    width: (32/32) * 1em;
}
.icon-user {
    font-size: (32/10) * 1rem;
    width: (32/32) * 1em;
}
.icon-wallet {
    font-size: (32/10) * 1rem;
    width: (34/32) * 1em;
}
