.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $black;
    transform: scale(1);
    transition: transform $transition;

    &:hover,
    &:focus {
        transform: scale(1.05);
    }
}

.icon-logo {
    font-size: 2.313rem;
    color: $black;
}

.logo__text {
    font-family: $poppins-semibold;
    font-size: 26px;
    letter-spacing: 0.01em;
    color: $black;
}

.logo__version {
    font-size: 10px;
    letter-spacing: -0.01em;
    color: $gray;
}
