.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $black;
    outline: $transparent;
}

.icon-logo {
    font-size: 2rem;
    color: inherit;
}

.logo__text {
    font-family: $poppins-semibold;
    font-size: 26px;
    letter-spacing: 0.01em;
    color: inherit;
}

.logo__version {
    font-size: 10px;
    letter-spacing: -0.01em;
    color: $gray;
}

@media screen and (min-width: 1024px) {
    .logo {
        transform: scale(1);
        transition: transform $transition, color $transition;

        &:hover,
        &:focus {
            transform: scale(1.05);
            color: $gray;
        }
    }
}
