.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    height: 24px;
    border: 1px solid $pagination-link-border;
    border-radius: 4px;
    outline: $transparent;

    background: $pagination-link;
    transition: border $transition, color $transition, background $transition;

    color: $pagination-text;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.01em;

    &:hover,
    &:focus {
        border: 1px solid $violet;
        color: $white;
        background: $violet;
    }
}
