@media screen and (max-width: 1024px) {
    .sidebar {
        position: absolute;
        transform: translateX(-100%);
        transition: transform $transition;
    }

    .open {
        transform: translateX(0);
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    max-width: 306px;
    width: 100%;
    height: 100%;
    padding: 38px 28px;
    background-color: $white;

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__logo {
        margin: 0 0 64px 0;
    }
}

.sidebar__menu_toggle {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 99999;

    padding: 8px 5px;

    .icon-menu {
        font-size: 0.5rem;
        color: $black;
    }
}
