.sidebar {
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 306px;
    height: 100%;
    padding: 38px 28px;

    background: $white;
    transform: translateX(-100%);
    transition: transform $transition;

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__logo {
        margin: 0 0 55px 0;
    }

    &.open {
        transform: translateX(0);
    }
}

.sidebar .menu_toggle {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 99999;

    padding: 5px;
}

.sidebar .menu_toggle .icon-close {
    font-size: 0.9rem;
    color: $black;
}

@media screen and (min-width: 1270px) {
    .sidebar {
        transform: none;
        padding: 38px 28px 76px 28px;
    }

    .sidebar .menu_toggle {
        display: none;
    }
}
