.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    max-width: 306px;
    width: 100%;
    height: 100%;
    padding: 38px 28px;

    background-color: $white;
    transform: translateX(-100%);
    transition: transform $transition;

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__logo {
        margin-bottom: 64px;
    }

    &.open {
        transform: translateX(0);
    }
}

.sidebar > {
    .menu_toggle {
        position: absolute;
        top: 16px;
        right: 20px;
        z-index: 99999;

        padding: 5px;

        .icon-close {
            font-size: 0.9rem;
            color: $black;
        }
    }
}

@media screen and (min-width: 1024px) {
    .sidebar {
        position: static;
        transform: none;
    }

    .menu_toggle {
        display: none;
    }
}
