.table__content {
    font-size: 12px;
    letter-spacing: -0.01em;
    border-collapse: collapse;
    word-wrap: break-word;
}

.table__row_head {
    position: relative;
}

.table__row_head::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -38px;
    z-index: 99999;
    width: calc(100% + 78px);
    height: 1px;
    background: $table-border-bottom;
}

.table__cell {
    padding: 19px 10px;
    border-bottom: 1px solid $table-border-bottom;
    color: $table-cell-text;
    text-align: start;
}

.table__row_head .table__cell {
    color: $table-head-text;
}

.table__row_head .table__cell:last-child {
    text-align: end;
    padding: 0 22px 0 0;
}

.table__cell:first-child {
    padding: 19px 4px 19px 0;
}

.table__cell:last-child {
    padding: 19px 0 19px 4px;
}

.table__cell_status {
    text-align: right;
}

.table__status {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    min-height: 29px;
    border-radius: 4px;

    font-size: 14px;
    letter-spacing: -0.01em;

    &_active {
        border: 1px solid $status-active-border;
        background: $status-active-bg;
        color: $status-active-text;
    }

    &_inactive {
        border: 1px solid $status-unactive-border;
        background: $status-unactive-bg;
        color: $status-unactive-text;
    }
}

@media screen and (max-width: 767px) {
    .table {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .table__content {
        font-size: 14px;
    }

    .table__cell:first-child {
        padding: 19px 10px 19px 0;
    }

    .table__cell:last-child {
        padding: 19px 0 19px 10px;
    }
}

@media screen and (min-width: 1440px) {
    .table__cell {
        padding: 19px 29px;
    }
}
