.table__content {
    width: 888px;
    font-size: 14px;
    letter-spacing: -0.01em;
    border-collapse: collapse;
}

.table__head {
    border-bottom: 1px solid #eee;
    color: #b5b7c0;
}

.table__cell {
    padding: 19px 25px 19px 0;
    border-bottom: 1px solid #eee;
    color: #292d32;
    text-align: start;
}

.table__row_head > {
    .table__cell {
        color: #b5b7c0;
    }
}

tr > {
    .table__cell:last-child {
        text-align: center;
    }
}

.table__cell--status {
    text-align: center;
}

.table__status {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    min-height: 29px;
    border-radius: 4px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;

    &_active {
        border: 1px solid #00b087;
        background-color: rgba(22, 192, 152, 0.38);
        color: #008767;
    }

    &_inactive {
        border: 1px solid #df0404;
        background-color: #ffc5c5;
        color: #df0404;
    }
}

@media screen and (max-width: 767px) {
    .table {
        display: none;
    }
}
