.avatar 
    picture.avatar__picture
        source.avatar__source(srcset="i/avatar@1x.webp 1x, i/avatar@2x.webp 2x" type="image/webp")
        source.avatar__source(srcset="i/avatar@1x.jpg 1x, i/avatar@2x.jpg 2x" type="image/png")
        img.avatar__img(src="i/avatar@1x.png" alt="User avatar")
    .avatar__container
        p.avatar__name Evano 
        span.avatar__role Project Manager
