$white: #fff;
$black: #000;

$cloud: #fafbff;

$gray: #838383;
$menu-gray: #9197b3;
$name-gray: #757575;
$violet: #5932ea;
$table-shadow: rgba(226, 236, 249, 0.5);
$transparent: transparent;

$transition: 150ms ease-in;

$poppins-reg: "poppins-regular";
$poppins-medium: "poppins-medium";
$poppins-semibold: "poppins-semibold";
