$white: #fff;
$black: #000;

$gray: #838383;
$menu-gray: #9197b3;
$violet: #5932ea;

$transition: 150ms ease-in;

$poppins-reg: "poppins-regular";
$poppins-medium: "poppins-medium";
$poppins-semibold: "poppins-semibold";
