extends _layout

block vars
    - title = "Dashboard";

block content_block
    .page_content 
        include _header
        include _main

    include blocks/_sidebar
    //- .dashboard 
    //- .dashboard__content
    //-   include _main
    //- include block/_mobile_menu