mixin icon(name,mod)
    - mod = mod || ''
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="i/sprite/sprite.svg#" + name)

mixin navItem(iconId, text, mod="", hasArrow=true, link="#")
    li.nav_menu__item
        a.nav_menu__link(class=mod, href=link)
            .nav_menu__wrapper 
                +icon(iconId)
                span.nav_menu__span= text
            if hasArrow
                +icon("arrow")
